:root
{
    --table-border: 10px;
    --bs-font-sans-serif: 'Roboto', sans-serif;
}

.main_wrapper{
    min-width: 30%;
    max-width: 90%;
}

.main_wrapper table tr{ 
    cursor: pointer;
}

.table-dark th
{
    border-top: 0px;
}
.table-dark th:last-of-type{
    border-top-right-radius: var(--table-border) !important;
}
.table-dark th:nth-child(1){
    border-top-left-radius: var(--table-border) !important;
}

thead tr:hover{
    background: var(--gray-dark) !important;
}

thead tr th:hover{
    color: var(--info);
}

.ps-45{
    max-width: 35px;
}

.ps-15{
    max-width: 15px;
}

.table-label{
    position: absolute;
    margin: 10px;
    margin-left: 20px;

}

#upload_client_picture{
    transition:color .5s ease-in;
}

#upload_client_picture:hover{
    color: var(--bs-primary);
    cursor: pointer;
}

.left-absolute
{
    padding-top: 25px;
    margin-left: 20px;
    position: absolute !important;
    float: left;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    top: 0px;
    cursor: pointer;
}

.dropdown-menu .dropdown-submenu-left label{
    cursor: pointer;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

main > .container {
    padding: 60px 15px 0;
  }

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.no-right-round{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}

.modal-dialog{
    border-radius: 15px; 
    overflow:hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.shadow-5-strong{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.no-left-round{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.hide{
    display: none;
}

.page-link{
    cursor: pointer;
}

.valid-error{
   
    color: var(--bs-danger);
    margin: -15px 0px 0px 15px;
    font-size: 12px;
    position: absolute;
}

#upload_client_image
{
    width: 140px; 
    height: 140px;
    border: 4px solid var(--bs-primary);
}

.detail_info{
    text-decoration: underline;
    font-weight: normal;
}

.select-item{
    padding-top: 10px;
}

.pr-30{
    right: 30px !important;
}

.left-100{
    margin-left: -100px !important;
}


.shadow-box {
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
}
.drop-menu-start
{
    margin-left: -100px;
}

.form-group{
    margin-top: 15px;
}
.form-outline
{
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.form-outline input, .form-outline select
{
    border: 0px;
    width: 100%;
    height: 100%;
}
.form-outline select
{
    width: 98%;
    height: 98%;
}

.form-label
{
    background: rgba(255,255,255,1) !important;
    padding: 0px 5px 0px 5px;
}

.form-outline .trailing
{
    display: none;
    padding: 10px 0px 0px 0px;
    margin-left: -30px;
    color: red;
}

.btn-search
{
    height: 33px;
}
.input-group-text{
    border-right: 0px !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#mres_client_name_autocomplete{
   
    position: absolute;
    z-index: 1050;
    width: 84%;
    right: 16px;
    
}

.auto-element{
    background: var(--light);
    border: 1px solid #ced4da;
    border-top: 0px;
    color: var(--black);
    border-radius: 5px;
}

.auto-element:hover{
    cursor: pointer;
    background: #fff;
}

.table-striped tbody tr{
    background: #fafafa;
    border: 1px solid #eee;
}

.table-sm tbody td{
    padding: 0px;
    font-size: 13px;
}

.table-sm tbody td .fas{
    margin-left: 10px;
}

.active{
    color: var(--primary) !important;
}